html {
    box-sizing: border-box;
    background-color: #ffe500;
    font-family: 'Sigmar One', cursive;
    line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3em;
}

li {
  font-size: 1.875em;
}

h2 {
  font-size: 1.125em;
}

p, li {
  font-size: 0.75em;
  font-family: Georgia, sans-serif;
}
